# Ignore build directory
build/
.cache/

# Ignore VS Code settings except launch.json and tasks.json
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# Ignore other common files
*.log
*.tmp
*.swp
CMakeLists.txt:Zone.Identifier
.clangd